@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
/*OS ESPAÇAMENTOS DA PÁGINA VARIAM DE ACORDO COM CADA ELEMENTO (tentamos o máximo possível kkk)*/

body{
    background-color:#f0ead2; /*COR DE FUNDO DA PÁGINA*/
    font-family:"Oswald", sans-serif;/*FONTE DO CORPO DA PÁGINA*/
}
p{
     padding: 10px;
}

img{
    border-radius: 20px;
}

h2{
    font-family: "Orbitron", sans-serif;/*FONTE DOS TÍTULOS*/
    font-size: 30px;
    padding: 10px ;
    background-color: #6c584c;
    display: flex;
    justify-content: center;
    color: #dde5b6;
}

header {
    background-color:#a98467 ;
    display: flex; 
    align-items: center;
    justify-content:space-between;
}
.logo{
    display: flex;
    padding: 15px;
    align-items: center;
    font-family: "Orbitron", sans-serif; /*FONTE DOS TÍTULOS*/
}

nav{
    margin-right: 15px;
}
a{
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 15px ;
    color: #000;
    background-color: #adc178;
    border-radius: 18px;
    font-weight: bold;
    margin: 5px;
}

a:hover{
    color: #6c584c;
    background-color: #dde5b6;
}

#inicio{
 padding: 20px;
 display: flex;
 justify-content: space-around;
}

#curiosidade{
    color: #dde5b6;
}

.direita{
    height: 350px;
    width: 300px;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
}

.esquerda{ 
    margin-left: 190px;
    margin-right: 90px;
}

.texto-inicio{
    height: 667px; 
    width: 375px;
    margin-right: 400px;
    padding: 15px ;
    color: #000;
    background-color: #a98467;
    border-radius: 18px;
}

#equipe{
    display: flex;
    justify-content: center;
    padding: 20px;
}

section{
  background-color: #ffe0b5;
  width: 300px;
  text-align: center;
  border: solid 3px #0e0d0d;
  padding: 10px;
}

.integrantes{
    margin-left: 10px;
    border-radius: 10px;
}
.img-integrantes{ /*TAMANHO FIXO PARA AS IMG DOS INTEGRANTES*/
    height:200px ;
    width: 200px;
}
.redes-sociais{
    font-size: 13px;
    padding: 3px ;
    background-color:#adc178;
}

#tarefas{
    text-align: center;
    padding: 20px;
}

.tabela{
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #6c584c;
    border-radius: 10px;
}

table{
    background-color: #a98467;
    border-radius: 10px;
}

th{
    background-color: #adc178;
    border-radius: 10px;
}

td{
    background-color: #ffe0b5;
    border-radius: 10px;
}

table, th, td {
    border: solid 3px ;
    padding: 10px;
}

#Projeto{
    padding: 20px;
}

.texto-projeto{
    
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #adc178;
    border-radius: 10px;
    border: solid ;
}

footer{
    background-color:#6c584c ;
    padding: 50px;
}


.conteudo-footer{
    display: flex; 
    align-items: center;
    justify-content:center;
   
}
#logo-footer{
    position:absolute;
    left:18px;
}
.texto-footer{
color: #dde5b6;
font-size: 18px;
}

.footer{
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    padding: 3px ;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    font-size: 5px;
    background-color: #adc178;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s
    
}

#backToTop:hover {
    background-color: #adc178;
}

/*
body color- #f0ead2
header color- #a98467 
button background- #adc178
rodapé- #6c584c
hover- #dde5b6
background td- #ffe0b5
*/