@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}


body{
    font-family:"Oswald", sans-serif;
    background-color:#f0ead2;

}
header {
    background-color:#a98467 ;
    display: flex; 
    align-items: center;
    justify-content:space-between;
}
nav{
    margin-right: 15px;
}
a{
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 15px ;
    color: #000;
    background-color: #adc178;
    border-radius: 18px;
    font-weight: bold;
    margin: 5px;

}

a:hover{
    color: #6c584c;
    background-color: #dde5b6;
}

.logo{
    display: flex;
    padding: 15px;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
footer{
    background-color:#6c584c ;
    display: flex; 
    align-items: center;
    justify-content:center;
    padding: 25px;
    color: #dde5b6;
}

span{
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}

.footer{
    font-family: "Orbitron", sans-serif;
    font-size: 13px;
    padding: 3px ;
}

#inicio{
 padding: 20px;
 display: flex;
 justify-content: space-around;

 
}

img{
    border-radius: 20px;
}

.esquerda{ 
    margin-left: 400px;
}

.direita{
    height: 350px;
    width: 300px;
    display: flex;
    justify-self: center;
    margin-bottom: 15px;
    
    
}

.texto-inicio{
    height: 667px; 
    width: 375px;
    padding: 15px ;
    color: #000;
    background-color: #a98467;
    border-radius: 18px;
    margin-right: 420px;

}

section{
    padding: 50px;
}

.redes-sociais{
    font-size: 13px;
    padding: 3px ;
    background-color:#adc178;
}

h2{
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    padding: 10px ;
    background-color: #6c584c;
    display: flex;
    justify-content: center;
    color: #dde5b6;

}
#equipe{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.integrantes{
    margin-left: 10px;
    border-radius: 10px;
}


section{
  background-color: #ffe0b5;
  width: 300px;
  text-align: center;
  border: solid 3px #0e0d0d;
  padding: 10px;
}

table, th, td {
    border: solid 3px ;
    padding: 10px;
}
#tarefas{
    text-align: center;
    padding: 20px;
}
.tabela{
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #6c584c;
    border-radius: 10px;
}

td{
    background-color: #ffe0b5;
    border-radius: 10px;
}
th{
    background-color: #adc178;
    border-radius: 10px;

}
table{
    background-color: #a98467;
    border-radius: 10px;
}
#Projeto{
    padding: 30px;
}

p{
     padding: 10px;
}
.texto-projeto{
    
    width: 900px;
    height: auto;
    margin: auto;
    background-color: #adc178;
    border-radius: 10px;
    border: solid ;
}
#backToTop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    font-size: 5px;
    background-color: #adc178;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s
    
}

#backToTop:hover {
    background-color: #dde5b6;
}

/*
body color-#f0ead2
header color- #a98467 
logo/button background-#adc178
rodapé-#6c584c
verde clarinho hover-#dde5b6
ebae54
#c0b7b1- background td

*/