 


   
header {
  display: flex; /* ou display: grid; */
  justify-content:space-between; /* Distribui os itens com espaço entre eles */
  align-items: center; /* Alinha verticalmente no centro */
  padding: 10px; /**/
  }

img {
  margin-right: 20px; /* Espaço entre a imagem e o texto */
}
  
